# Base dependencies
# pip install -r requirements.txt

sphinx # doc builder
sphinx_rtd_theme # read the docs theme
recommonmark # to use markdown language
sphinx-tabs # code in tabs with different languages
readthedocs-sphinx-search # full text search
